@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #1b2633;
}

.header {
    border-bottom: 1px solid hsla(0,0%,100%,.11);
    border-width: 90%;
}

.scrolled-header {
    background-color: white;
    color: #1b2633;
    box-shadow: 0 1px 5px rgba(0,0,0,.11);
}

.header-logo {
    width: 100px;
    height: 40px;
}

.scrolled-header .header-logo g {
    fill: #000000;
}

.banner {
    background-image: url(../../public/images/banner.png);
    background-position: 50%;
    height: 80vh;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;

    filter: blur(0);
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
}

.banner::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    content: '';
    background: linear-gradient(170deg,#1b2636,rgba(27,38,54,0) 66%)
}

.banner-sub-title {
    color: #d3a347;
    font-style: italic;
}

.about-me-image {
    background-image: url(../../public/images/me.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;

    width: 100%;
}

.photography::after {
    content: '';
    background-image: url(../../public/images/heart.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    position: absolute;
}

.company-logo {
    height: 280px;
}

.company img {
    filter: grayscale(100%);
    width: 80%;
}

.company:hover img {
    filter: grayscale(0%);
}

.cta-section {
    background-color: #1b2633;
    position: relative;
    z-index: 0
}

.cta-section {
    background-image: url(../../public/images/16.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    filter: blur(0);
    opacity: 1;
}

.cta-section::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    content: '';
    background: linear-gradient(178deg,#1c2a3d,rgb(8 27 54 / 0%) 185%);
    z-index: -1;
}

.form-label {
    color: #a4916f;
}

.form-input::placeholder {
    color: #e3d6bf;
}

.form-input, .form-select {
    color: #e3d6bf;
    border-bottom: 2px solid hsla(0,0%,90%,.11);
}

.form-select, .form-info {
    color: #e3d6bf;
}

.form-button {
    line-height: 50px;
    padding: 0 25px;
    border-radius: 50px;
    position: relative;
    background-color: #a4916f;
    color: #fff;
    text-align: center;
}

.form-button:disabled {
    background-color: grey;
}

.form-button:hover:enabled {
    background-color: #fff;
    color: #a4916f;
}

.form-select::after {
    content: "";
    position: absolute;
    top: 16px;
    right: 0;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 7px;
    height: 7px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
}

.footer {
    background-color: #000;
    float: left;

    color: #727577;
}

@media only screen and (max-width: 600px) {
    .banner {
        background-size: auto;
        background-position: 50% 90%;
    }

    .content-image {
        min-height: 400px;
    }
  }