@tailwind base;
@tailwind components;
@tailwind utilities;

$light-text : #1b2633;
$light-background: #fff;

$dark-text: #e7e2da;
$dark-background: #292929;

$form-primary-color: #a4916f;
$form-secondary-color: #e3d6bf;

body {
    color: $light-text;
}

.header {
    border-bottom: 1px solid hsla(0,0%,100%,.11);
    border-width: 90%;
}

.scrolled-header {
    background-color: $light-background;
    color: $light-text;
    box-shadow: 0 1px 5px rgba(0,0,0,.11);
}

.banner {
	background-image: url(/images/banner.jpeg);
	background-position: 50%;
	height: 80vh;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	filter: blur(0);
	opacity: 1;
	background-attachment: fixed;
	background-position: center;
	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		background: linear-gradient(170deg,#1b2636,rgba(27,38,54,0) 66%);
	}
}

.banner-sub-title {
    color: #d3a347;
    font-style: italic;
}

.about-me-image {
    background-image: url(/images/me.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;

    width: 100%;
}

.photography::after {
    content: '';
    background-image: url(/images/heart.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    position: absolute;
}

.company-card {
    height: 100%;
    background-color: #e2c5a4;
}

.company-logo {
    height: 200px;
}

.company-card {
	img {
		filter: grayscale(100%);
		width: 70%;
	}
	&:hover {
		img {
			filter: grayscale(0%);
		}
	}
}
.cta-section {
    background-color: $light-text;
    position: relative;
    z-index: 0
}

.cta-section {
	background-image: url(/images/cta.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	filter: blur(0);
	opacity: 1;
	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		background: linear-gradient(178deg,#000000,rgb(113 123 136 / 0%) 204%);
		z-index: -1;
	}
}

.dark {
    body {
        color: $dark-text;
        background-color: $dark-background;
    }
    
    .scrolled-header {
        background-color: $dark-background;
        color: $dark-text;
        box-shadow: 0 1px 5px rgba(0,0,0,.11);
    }

    .banner::before {
        background: linear-gradient(178deg,#000000,rgb(113 123 136 / 0%) 50%)
    }
}


// Define form style
.form-label {
    color: $form-primary-color;
}

.form-input::placeholder {
    color: $form-secondary-color;
}

.form-input, .form-select {
    color: $form-secondary-color;
    border-bottom: 2px solid hsla(0,0%,90%,.11);
}

.form-select, .form-info {
    color: $form-secondary-color;
}

.form-button {
    line-height: 50px;
    padding: 0 25px;
    border-radius: 50px;
    position: relative;
    background-color: $form-primary-color;
    color: #fff;
    text-align: center;
}

.form-button:disabled {
    background-color: grey;
}

.form-button:hover:enabled {
    background-color: $light-background;
    color: $form-primary-color;
}

.form-select::after {
    content: "";
    position: absolute;
    top: 16px;
    right: 0;
    border-right: 2px solid $light-background;
    border-bottom: 2px solid $light-background;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 7px;
    height: 7px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: $light-background;
    transition: background-color 5000s ease-in-out 0s;
}

// Switch theme button 
  #toogle {
    display: none;
  }
  
  .toogle-button {
    font-weight: bold;
    font-size: 10PX;
    display: inline-block;
    width: 75px;
    height: 35px;
    background-color: #E7E2CD;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
  }
  
  .toogle-button::after {
    content: attr(data-label-off);
    width: 40px;
    height: 40px;
    color: #E7E2CD;
    background-color: rgb(41, 39, 39);
    border: 2px solid #E7E2CD;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    position: absolute;
    top: -5px;
    left: 0;
    line-height: 0;
    display: grid;
    place-content: center;
    transition: all .5s;
    transform: 1s ease-in;
  }
  
  #toogle:checked + .toogle-button::after {
    content: attr(data-label-on);
    background-color: #ffffff;
    color: #000;
    transform: translateX(35px) rotate(360deg);
  }

@media only screen and (max-width: 600px) {
    .action-btn {
       margin: 0 auto; 
    }

    .banner {
        background-size: auto;
        background-position: 50% 90%;
    }

    .content-image {
        min-height: 400px;
    }

    .company-logo {
        img {
            filter: grayscale(0);
        }
    }
  }